
:root {
    --font-size-paragraph: 14px;

    --mobile: 375px;
    --desktop: 1440px;

    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--cream);
}

.product {
    border-radius: 0.5rem;
    max-width: 350px;
    margin-block: 1rem;
}

.product-image {
    width: 100%;
    overflow: hidden;
}

.product-image img {
    display:block;
    width: 350px;
    height: fit-content;
}

.product-details {
    padding-inline: 2rem;
    background-color: var(--white);
    padding-bottom: 2rem;
}

.product-details .product-category {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-block: 2rem;
    color: var(--grey);
    font-size: 16px;
}

.product-details .product-title {
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-details .product-description {
    color: var(--grey);
    font-size: var(--font-size-paragraph);
    line-height: 1.6;
    margin-bottom: 1rem;
}

.product-details .product-price {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.product-price .price-discounted {
    color: var(--green-500);
    font-size: 2rem;
    font-weight: 700;
}

.product-price .price-original {
    color: var(--grey);
    font-size: 1rem;
    text-decoration: line-through;
}

.add-cart {
    display: block;
    width: 100%;
    background-color: var(--green-500);
    color: var(--white);
    font-size: 1.25rem;
    padding-inline: 2rem;
    padding-block: 1rem;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-block: 1rem;
    cursor: pointer;
    transition: background 1s ease-in;
}

.add-cart:hover {
    background-color: var(--green-700);
}

@media (min-width: 376px) {
    .product {
        display: flex;
        max-width: 700px;
    }

    .product-image, .product-details {
        flex: 1;
    }

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-block: 1rem;
}

.attribution a { 
    color: var(--green-700); 
}
